{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "useBuiltIns": "usage",
      "debug": true
    }],
    "@babel/react"
  ]
}